# {{ ansible_managed }}

SMARTHOST {{ dma_smarthost }}
{% if dma_port %}
PORT {{ dma_port }}
{% endif %}
{% if dma_securetransfer %}
SECURETRANSFER
{% endif %}
{% if dma_user or dma_password %}
AUTHPATH /etc/dma/auth.conf
{% endif %}
{% if dma_starttls %}
STARTTLS
{% endif %}
MAILNAME {{ dma_mailname | default(ansible_nodename) }}
{% if dma_insecure %}
INSECURE
{% endif %}
{% if dma_masquerade %}
MASQUERADE {{ dma_masquerade }}
{% endif %}
