# {{ ansible_managed }}

SMARTHOST {{ dma_smarthost }}
{% if dma_port is defined %}
PORT {{ dma_port }}
{% endif %}
{% if dma_securetransfer is defined %}
SECURETRANSFER
{% endif %}
{% if dma_user is defined or dma_password is defined %}
AUTHPATH /etc/dma/auth.conf
{% endif %}
{% if dma_starttls is defined %}
STARTTLS
{% endif %}
MAILNAME {{ dma_mailname | default(ansible_nodename) }}
{% if dma_insecure is defined %}
INSECURE
{% endif %}
{% if dma_masquerade is defined %}
MASQUERADE {{ dma_masquerade }}
{% endif %}
